* {
   -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
    font-family: avenir;
    font-size: 14pt;
    max-width: 100%;
    max-height: 100vh;
    background: white;
}
div {
    clear: all;
    margin: 0 0 2em 0;
    padding-bottom: 2em;
}
p,
h3 {
    overflow: auto;
    clear: all;
    margin: 0;
    vertical-align: text-top;   
}
p {
    margin: 0 2em 0 2em;
    padding: 1em 0;
    border-top: solid white 1px;
    transition: .5s ease-out;
}
p:first-of-type {
    border-top: none;
}
h3 {
    color: white;
    text-transform: uppercase;
    font-family: didot bold;
    font-style: italic;
    font-size: 4em;
    line-height: 60px;
    word-break: break-all;
    overflow:hidden;
    letter-spacing: 0px;
    text-wrap: balance;
    margin: -4px 0 .2em 0;
    transition: .5s ease-out;
}
a {
    text-decoration: none;
    color: darkgrey;
}
li {
    text-decoration: none;
    list-style-type: none;
}
a:hover,
li a:hover {
    color: tomato;
}
.design-selection li a:last-of-type {
    float: right;
    padding-right: 2em;
}


/*--------summary---------------*/
.summary {
    background: white;
    margin: 0;
    margin-top: 5em;
    padding: 0;
}
.summary p:first-of-type {
    font-size: 1em;
    margin: 0;
    padding: .75em 1.5em 1em 1.5em;
    max-width: 100%;
}  
.summary p:last-of-type {
    font-size: 1.5em;
    font-weight: 900;
    text-decoration: none;
    padding: 0 1em 1em 1em;
    margin: 0;
    max-width: 100%;
    text-transform: uppercase;
    line-height: 25px;    
} 

/*-----backgrounds--------------*/

.preamble {
    background: #f24b6a;
}
.explanation {
    background: #63f9b9; 
}
.participation {
    background: #00D1FF; 
}
.benefits {
    background: #f9c301; 
}
.requirements {
    background: #e84d28;
}
.design-selection {
        background: #D8FF12;
    }
.design-archives {
    background: lightgray;
}
.zen-resources {
    background: gray;
}

/*-----------header------------*/
header {
    position: fixed;
    top: -1px;
    left: -1px;
    padding: .5em 0 .75em 0;
    margin: 0 auto;
    width: 101%;
    background: gainsboro;
    border-bottom: solid white 8px;
    vertical-align: text-top;  
    z-index: 10;
}
h1,
h2 {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
}
h2 {
    font-size: 1em;
/*    font-family: didot;*/
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: -15px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
body {
    margin: 0 auto;    
    max-width: 100%; 
    }
    
}

@media only screen and (min-width: 768px) {
    
body {
    margin: 0 auto;    
    max-width: 100%; 
}
.wrapper,
.sidebar,
aside,    
div {
    margin: 0;
    padding: 0;
}    
div[role=article] {
    position: relative;
}
h3 {
    position: absolute;
    max-width: 50%;
    margin: 0;
    left: 50%;
    line-height: 100px;
    padding-top: .3em;
    padding-left: 80px;
    letter-spacing: 100px;  
    font-size: 2.5em;
    transition: 1.5s ease-out;
}    
p {
    max-width: 50%;    
    margin: 0; 
    margin-left: 0;  
    background: none;
    text-align: right;
    font-size: 2;
/*    font-size: 2vw;*/
    padding: 1em 2em 0 2em;
    border: none;    
} 
p:first-of-type {
    padding-top: 2em; 
/*        margin-top: 2em; */
}    
p:last-of-type {
    padding-bottom: 2em;
}

.intro {
    margin: 0;
    padding: 0;     
}
/*------------summary-------------   */
.summary {
        padding: 2em 0 2em 0;
    }
.summary p:first-of-type {
    font-size: 1.5em;
    text-align: left;
    margin-left: 50%;
    margin-top: 0;
    padding: 15px 15px 30px 15px;
    max-width: 30%;
}  
.summary p:last-of-type {
    position: absolute;
    left: 5%;
    top: 0;
    z-index: 9;
    font-size: 2.5em;
    font-weight: 900;
    text-decoration: none;
    text-align: right;
    padding: 20px;
    padding-top: 1.25em;
    max-width: 45%;
    text-transform: uppercase;
    line-height: 40px;    
}
.summary a:hover {
    color: tomato;
}    
    
/*--------preamble    */
    .preamble h3 {
        left: 35%;
        max-width: 70%;
    }
    .preamble p {
        max-width: 35%;
        padding-left: 5%;
    }
    .preamble {
        margin: 0;
        padding: 0;
    }
    
/*---------explanation   */
    .explanation h3 {
        text-align: right;
        left: 11%;
    }
    .explanation p {
        margin-left: 60%;
        padding-right: 5%;
        padding-left: 2em;
        text-align: left; 
    } 
    .explanation {
        margin: 0;
        padding: 0;
        
    }
/*--------participation    */
    .participation h3 {
        left: 39%;
    }
    .participation p {
        max-width: 40%;
        padding-left: 5%;
    }
/*---------benefits   */
    .benefits h3 {
        max-width: 40%;
        text-align: right;
        left: 31%;
        padding-right: 0;
    }
    .benefits p {
        margin-left: 70%;
        padding-right: 5%;
        text-align: left;
        padding-left: 2em;   
    }
/*--------requirements    */
    .requirements h3 {
        left: 49%;
    }
    .requirements p {
        max-width: 50%;
        padding-left: 5%;
    } 
    .preamble p,
    .participation p,
    .requirements p {
       border-right: solid white 2px; 
    }
    .explanation p,
    .benefits p {
       border-left: solid white 2px; 
    }
    
/*----------transitions-----------*/
    .preamble:hover p,
    .explanation:hover p,
    .participation:hover p,
    .benefits:hover p,
    .requirements:hover p,
    .design-archives:hover li,
    .zen-resources:hover li,
    .design-selection:hover ul {
        background:white;
        transition: .5s;
        border: none;
    }
    .preamble:hover h3,
    .explanation:hover h3,
    .participation:hover h3,
    .benefits:hover h3,
    .requirements:hover h3,
    .design-archives:hover h3,
    .zen-resources:hover h3,
    .design-selection:hover h3 {
        font-size: 7em;
        letter-spacing: 0;
        padding-left: 0;
        border: none;
    }     
/*----------header--------------    */    
h1,
h2 {
    display: inline-block; 
}
    h1 {
        margin-left: 2%;
    }    
h2 {
    float: right;
    margin-top: .75em;
    margin-right: 3%;     
} 
/*-------select-----------*/
    .design-selection {
        margin: 0;
        padding: 0;
        position: relative;
    } 
    .select {
        left: 58%;
        max-width: 40%;
    }
    .design-selection ul {
        margin-left: 0;
        max-width: 60%;
        padding: 0;
        border-right: solid white 2px;
    }   
    .design-selection li {
        font-size: 1em;
        list-style-type:none;
/*        text-transform: uppercase;*/
        text-align: right;
        max-width: 100%;
        padding: 1em 2em 0 2em;       
    }
    .design-selection li:last-of-type {
        padding-bottom: 6em;
}
       .design-selection li:first-of-type {
        padding-top: 6em;
}
    .design-selection li a:last-of-type {
        float: right;
        padding: 0;
}
    .design-selection li a:first-of-type {
        float: left;
        padding: 0;
}
    
/*------designarchives-------*/
.design-archives {
    padding: 0;
    margin: 0;
    position: relative;
}
.design-archives li {
    font-size: 1em;
    list-style-type:none;
    text-transform: uppercase;
    line-height: 270px;
    text-align: right;
    max-width: 43%;
    margin-left: -3%;
    padding-right: 2em;
    border-right: solid white 2px;
}
    .design-archives li a:hover {
        color: tomato;
    }    
.design-archives h3 {
    max-width: 50%;
    left: 42%;
}
/*--------resoureces----------    */
    div [id=zen-resources] {
        position: relative;
        margin: 0;
        padding: 0;
    }
    .resources {
        max-width: 50%;
        padding-right: 0;     
    }
    .zen-resources li {
        font-size: 1em;
        list-style-type:none;
        text-transform: uppercase;
        text-align: right;
        max-width: 53%;
        margin-left: -3%;
        padding-right: 2em;
        padding-top: 1em;    
        border-right: solid white 2px;  
    } 
    .zen-resources li:first-of-type {
        padding-top: 6em;
    }
    .zen-resources li:last-of-type {
        padding-bottom: 6em;
    }
    .zen-resources li a:hover {
        color: tomato;
    }
/*----------footer----------*/
    footer {
        position: absolute;
        background: none;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 125vh;
        text-align: center;
    }
    footer a {
        display: inline-block;
        margin-left: 01em;
        max-width: 100%;
    }
    footer a:hover {
       color: tomato;
    }

}
@media only screen and (min-width: 1600px) {
body {     
    max-width: 1600px;
    background: gainsboro;
    }
.summary {
    margin-top: 4.25em;
    padding: 2em;
}      
.summary p:last-of-type {
    max-width: 30%;
    left: 20%;
}
p {
    padding-left: 10em;
}  
.design-archives {
    padding: 0;
    margin: 0;
}       
}    
